.ui-right {
  width: 0;
  direction: rtl; /* Overflow left instead of right */
  transform: translateX(0.5vw);
}

.ui-right .ui-panel {
  width: 44px;
  direction: ltr;
}

.ui-right .ui-panel__inner {
  display: flex;
  flex-direction: column;
}

.ui-panel.ui-panel--btns {
  overflow: hidden;
  width: 54px;
  padding: 8px 0;
}

.ui-panel.ui-panel--btns[aria-hidden='true'] {
  width: 0;
}

.ui-panel--btns .ui-panel__inner {
  display: flex;
  width: 30px;
  padding: 4px;
  margin: 0 8px;
  gap: 6px;
}

.ui-panel--btns button {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  border-top: 0 solid #5317;
  border-right: 2px solid #5315;
  border-bottom: 3px solid #5317;
  border-left: 0 solid #5315;
  box-shadow: 0 0 0 1px #3339;
  font-weight: bold;
  text-shadow: 0 0 1px #000;
  transition: box-shadow 0.2s;
}

.ui-panel--btns button:active {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 2px;
  border-left-width: 1px;
}

.ui-panel--btns button[aria-pressed='true'] {
  background: #fffa;
}

.del-wrap {
  background:
    repeating-linear-gradient(
      -45deg,
      #000,
      #ff0 2px 4px,
      #000 0 6px
    );
  box-shadow: 0 0 0 1px #3339;
}

button.del {
  width: 26px;
  height: 26px;
  margin: 3px;
  background: #e00;
  color: #fff;
  font-size: 12px;
}

button.del:hover {
  box-shadow: 0 0 0 1px #3339, 0 0 6px #e00;
}

button.del:hover::before {
  box-shadow: 0 0 6px #f33, 0 0 0 1px #333;
}

button.off {
  background: #ff0;
  color: #000;
  font-size: 20px;
}

button.off:hover {
  box-shadow: 0 0 6px #fc3, 0 0 0 1px #333;
}

button.off[aria-pressed='true']::after {
  position: absolute;
  right: 2px;
  bottom: 0;
  color: #e00;
  content: '×';
  font-size: 16px;
}

button.off[aria-pressed='true']:hover {
  box-shadow: 0 0 6px #fff9, 0 0 0 1px #333;
}

/* button.cancel::after {
  position: absolute;
  color: #e00;
  content: '×';
  font-size: 30px;
  font-weight: normal;
} */
