/* Build bar icons are the ::before of the build-bar buttons */

button.build-bar::before {
  content: '';
}

button.build-bar.block::before {
  width: 26px;
  height: 26px;
  background: #fff;
}

button.build-bar.scaffold::before {
  width: 22px;
  height: 18px;
  background:
    linear-gradient(
      45deg,
      #0000 0 calc(50% - 1px),
      var(--color-secondary) 0 calc(50% + 2px),
      #0000 0
    ),
    linear-gradient(
      -45deg,
      #0000 0 calc(50% - 1px),
      var(--color-secondary) 0 calc(50% + 2px),
      #0000 0
    );
  box-shadow: 0 0 0 3px var(--color-secondary);
}

button.build-bar.hex-block::before {
  width: 30px;
  height: 26px;
  background: #fff;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

button.build-bar.solar::before {
  width: 20px;
  height: 24px;
  border: 2px solid #fff;
  background:
    repeating-linear-gradient(
      to top,
      #0000 0 4px,
      #fff9 0 5px
    ),
    repeating-linear-gradient(
      to right,
      #0000 0 9px,
      #fff6 0 10px
    ),
    /* Rotate this for lighting?... */
    linear-gradient(
      45deg,
      #059,
      #08a
    );
}

button.build-bar.hangar::before {
  width: 24px;
  height: 18px;
  border: 2px solid var(--color-primary);
  background:
    repeating-linear-gradient(
      -75deg,
      #0cf3 0 2px,
      #0cf8 3px,
      #eff8 4px,
      #0cf8 5px,
      #0cf3 6px 8px
    );
}

button.build-bar.hab::before {
  width: 26px;
  height: 26px;
  background:
    linear-gradient(
      #ccc 4px,
      #fff 0 10px,
      #0000 0 16px,
      var(--color-accent) 0 18px,
      #fff 0 22px,
      #999 0
    ),
    linear-gradient(
      90deg,
      #fff 0 5px,
      #0000 0 21px,
      #fff 0
    );
}

button.build-bar.ring::before {
  --tx: 4px;
  --t: 3.5px;

  width: 28px;
  height: 24px;
  background: #fff;

  /* This must be the exact same as the .hex-cut clip-path for compression */
  clip-path:
    polygon(
      25% 0%,
      75% 0%,
      100% 50%,
      75% 100%,
      25% 100%,
      0% 50%,
      25% 0%,
      /* Inner */
      calc(25% + var(--tx) / 2) var(--t),
      var(--tx) 50%,
      calc(25% + var(--tx) / 2) calc(100% - var(--t)),
      calc(75% - var(--tx) / 2) calc(100% - var(--t)),
      calc(100% - var(--tx)) 50%,
      calc(75% - var(--tx) / 2) var(--t),
      calc(25% + var(--tx) / 2) var(--t)
    );
}

button.build-bar.ring:hover::before,
button.build-bar.ring[aria-pressed='true']::before {
  animation: 9s rotate linear infinite;
}

@keyframes rotate {
  100% { transform: rotate(360deg); }
}

button.build-bar.store.power::before {
  width: 15px;
  height: 24px;
  background:
    linear-gradient(
      90deg,
      #0003 4px,
      #0000 0 11px,
      #0005 0
    ),
    linear-gradient(
      var(--color-accent) 3px,
      var(--color-secondary) 0 7px,
      var(--color-accent) 0 17px,
      var(--color-secondary) 0 21px,
      var(--color-accent) 0
    );
}

button.build-bar.mining.ship::before {
  width: 30px;
  height: 30px;
  background: linear-gradient(var(--color-accent) 0 18px, #5ff 0, #0000);
  clip-path:
    polygon(
      11px 8px,
      19px 8px,
      100% 18px,
      19px 18px,
      19px 30px,
      11px 30px,
      11px 18px,
      0 18px
    );
}

button.build-bar.upgrade::before {
  position: absolute;
  z-index: -1;
  width: 32px;
  height: 32px;
  background: #088;
  clip-path: polygon(50% 0, 100% 45%, 75% 45%, 75% 100%, 25% 100%, 25% 45%, 0 45%);
}
