.ui-left {
  z-index: 1;
  width: 0;
  pointer-events: all;
  transform: translateX(-0.5vw);
}

.ui-panel--left {
  display: flex;
  overflow: hidden;
  width: 16px;
  padding: 8px 0;
  color: #ccc;
  font-weight: bold;
  text-align: center;
}

.hover-zone {
  width: 25px;
}

.menu {
  font-size: 14px;
  writing-mode: vertical-lr;
}

.ui-left:hover .ui-panel--left {
  width: 132px;
}

.ui-panel--left .ui-panel__inner {
  display: flex;
  width: 100px;
  flex-direction: column;
  margin: 0 8px 0 2px;
}

.ui-panel--left hr {
  width: 100%;
  border: 1px solid #444;
  margin: 0;
}

input {
  width: 100%;
  padding: 2px;
  margin-top: -7px;
  margin-bottom: -2px;
  background: #333;
  box-shadow: 2px 2px inset #222;
  color: #ccc;
}

.ui-panel--left button {
  display: flex;
  width: 100%;
  width: 91px;
  height: 28px;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  border-top: 0 solid #5317;
  border-right: 2px solid #5315;
  border-bottom: 3px solid #5317;
  border-left: 0 solid #5315;
  background: #aaa;
  box-shadow: 0 0 0 1px #3339;
  font-weight: bold;
  transition: background-color 0.2s;
}

.ui-panel--left button:active {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 2px;
  border-left-width: 1px;
}

.ui-panel--left button:hover {
  background: #999;
}

.save.disabled::after {
  position: absolute;
  right: 8px;
  content: '✔';
}

.color {
  display: flex;
}

.color input {
  width: 30px;
  height: 30px;
}
