.box {
  --width: 100px;
  --depth: 60px;
  --height: 140px;

  top: 200px;
  left: 160px;
  width: var(--width);
  height: var(--depth);
  background: rgba(200, 200, 200, 0.5);
}

.box > * {
  transform-origin: bottom center;
}

.box > .top {
  width: var(--width);
  height: var(--depth);
  background: rgba(100, 100, 100, 0.5);
  transform: translateZ(var(--height));
}

.box > .front {
  width: var(--width);
  height: var(--height);
  background: rgba(255, 0, 0, 0.5);
  transform:
    translate(0, calc(var(--depth) - var(--height)))
    rotateX(-90deg);
}

.box > .right {
  width: var(--depth);
  height: var(--height);
  background: rgba(255, 255, 0, 0.5);
  transform:
    translate(calc(var(--width) - var(--depth) / 2), calc(var(--depth) / 2 - var(--height)))
    rotateZ(-90deg)
    rotateX(-90deg);
}

.box > .back {
  width: var(--width);
  height: var(--height);
  background: rgba(0, 255, 0, 0.5);
  transform:
    translate(0, calc(var(--height) * -1))
    rotateZ(180deg)
    rotateX(-90deg);
}

.box > .left {
  width: var(--depth);
  height: var(--height);
  background: rgba(0, 255, 255, 0.5);
  transform:
    translate(calc(var(--depth) / -2), calc(var(--depth) / 2 - var(--height)))
    rotateZ(90deg)
    rotateX(-90deg);
}
