/* ::after can be used for selection and box shadows? */
.face.build-hover::after {
  position: absolute;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border-top: 3px solid #0000;
  border-right: 3px solid #0ff;
  border-bottom: 3px solid #0000;
  border-left: 3px solid #0ff;
  animation: spin 1.5s linear infinite;
  -webkit-backface-visibility: hidden;
  background: radial-gradient(#0ff 50%, #0000 0);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border-radius: 50%;
  content: '';
}

.face.build-hover.err-cost::after,
.face.build-hover.obstructed::after {
  border-right-color: #f02b;
  border-left-color: #f02b;
  animation-duration: 5s;
  background-image: radial-gradient(#f02 50%, #0000 0);
}

@keyframes spin {
  0% { transform: rotate(0deg) translateZ(1px); }
  100% { transform: rotate(360deg) translateZ(1px); }
}
