/* The placeholder-bulid frame */

.frame {
  transition: transform 0.2s;
}

/* When it's just an outline the texture has basically no opacity */
.frame .face::before {
  backface-visibility: hidden;
  opacity: 0.1;
}

.frame .face {
  backface-visibility: visible;
  pointer-events: none;
}

.frame .face::after {
  border: 2px solid #fffa;
  background: #fff2;
  transform: translateZ(-0.1px);
}
