.shape.hab-sm .face.rect {
  background: #013a;
}

/* Every side except ends (as they're not rects) */
.shape.hab-sm .face.rect::before {
  background: #eee;
}

/* End faces */
.shape.hab-sm .face.octish::before {
  background: #aaa;
}

/* TODO: One of these has to be flipped - it'd be easier in the JS? */
/* TODO: Save a few bytes by not using CSS vars? */

/* Two big sides opposite each other */
.shape.hab-sm .face.rect:nth-child(4n)::before {
  --window-h: 8px;
  --window-w: 20px;

  background:
    linear-gradient(
      #0000 calc(50% + var(--window-h) - 1px),
      #f60 0 calc(50% + var(--window-h) + 6px),
      #0000 0
    ),
    linear-gradient(
      90deg,
      #eee calc(50% - var(--window-w)),
      #0000 0 calc(50% + var(--window-w)),
      #eee 0
    ),
    linear-gradient(
      #eee calc(50% - var(--window-h)),
      #0000 0 calc(50% + var(--window-h)),
      #eee 0
    );
  color: #f60;
}
