.shape.box.hangar .face::before {
  background: rgb(43, 43, 43);
}

.shape.box.hangar .door::before {
  border: 10px solid rgb(43, 43, 43);
  background-color: #197f9e;
  background-image:
    linear-gradient(
      to bottom,
      rgb(255, 255, 255, 0.6) 0,
      rgba(255, 255, 255, 0) 25%
    ),
    linear-gradient(
      to left,
      rgb(255, 255, 255, 0.6) 0,
      rgba(255, 255, 255, 0) 25%
    ),
    linear-gradient(
      to top,
      rgb(255, 255, 255, 0.6) 0,
      rgba(255, 255, 255, 0) 25%
    ),
    linear-gradient(
      to right,
      rgb(255, 255, 255, 0.6) 0,
      rgba(255, 255, 255, 0) 25%
    );
}
