/* TODO: Do we need object in here? So .object.select ? */

.select .face::after,
.hover .face::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #0ffb;
  content: '';
}

.select .face::after {
  background: #0ff3;
}
