.planet {
  display: flex;
  align-items: center;
  justify-content: center;
}

.planet * {
  position: absolute;
}

.planet .body {
  background: red;
}

.planet .ring {
  -webkit-backface-visibility: visible;
  border-radius: 50%;
  box-shadow: 0 0 1px 4px #ff0;
}
