.shape.ship .face::before {
  background: var(--color-accent);
  color: #fff;
  content: attr(data-text);
  font-size: 8px;
  line-height: 26px;
  text-align: center;
}

.shape.ship .face:nth-child(1)::before {
  background:
    linear-gradient(
      var(--color-accent) 8px,
      #000 0 12px, /* Cockpit screen */
      var(--color-accent) 0
    );
}

.shape.ship .face.engine {
  backface-visibility: visible;
  background: #677;
  box-shadow: 0 0 0 0 #5ff;
  transition: all 1s;
}

.shape.ship.thrust .face.engine {
  background: #6ff;
  box-shadow: 0 0 3px 1px #5ff;
}

.shape.ship .face.engine::before {
  display: none;
}

.shape.ship .face.engine::after {
  top: 1px;
  height: 8px;
  backface-visibility: visible;
  background: linear-gradient(#5ff, #0000);
  transform: rotateX(90deg) scaleY(0);
  transform-origin: top;
  transition: all 1s;
}

.shape.ship.thrust .face.engine::after {
  transform: rotateX(90deg) scaleY(2);
}
