/* TODO: Change specifity because hopefully all this is unnecessary */

.shape.box.solar {
  transition: all 1s;
}

.shape.box.solar .face {
  transition: all 1s;
}

.shape.box.solar .face::before {
  background: #fff;
}

.shape.box.solar .panel::before {
  border: 2px solid #fff;
  background:
    repeating-linear-gradient(
      to top,
      #0000 0 9px,
      #fff6 0 10px
    ),
    repeating-linear-gradient(
      to right,
      #0000 0 4px,
      #fff9 0 5px
    ),
    /* Rotate this for lighting?... */
    linear-gradient(
      45deg,
      #059,
      #08a
    );
  background-repeat: no-repeat;
}

.shape.solar:not(.frame) .panel::before {
  animation: 1s build forwards, 2s extend forwards;
}

@keyframes extend {
  0% { background-size: 0 100%; }
  30% { background-size: 0 100%; }
  100% { background-size: 100% 100%; }
}
