.sun {
  /* TODO: Not overflow hidden, maybe just have the sun be a circle SVG */
  overflow: hidden;

  /* Actual sun stuff */
  background: #f90;
  box-shadow: 0 0 26px #f60, 0 0 99px #ffcb;
  filter: drop-shadow(0 0 100px #000) drop-shadow(0 0 100px #000);
}
