.ui-left {
  z-index: 1;
  width: 0;
  transform: translateX(-0.5vw);
}

.ui-panel--info {
  overflow: hidden;
  width: 182px;
  padding: 8px 0;
}

.ui-panel--info[aria-hidden='true'] {
  width: 0;
}

.ui-left .ui-panel__inner {
  display: flex;
  width: 150px;
  flex-direction: column;
  margin: 0 8px;
}
