.ui-panel {
  padding: 8px;
  border: 3px solid #aaa;
  background:
    linear-gradient(
      135deg,
      #333 50%,
      #444 0
    );
  box-shadow: 1px 1px 9px #000;
  transition: 0.3s all;
}

.ui-panel__inner {
  display: flex;
  align-items: center;
  padding: 8px;
  background: #777;
  box-shadow: 0 1px 0 2px #222;
  gap: 8px;
}

.ui-panel--top,
.ui-panel__big {
  padding: 6px 8px;
}

.ui-panel--top {
  position: absolute;
  top: 2vmin;
  font-weight: bold;
  transform: rotateX(-9deg) translateZ(12px);
}

.ui-panel--big {
  position: absolute;
  bottom: 3vh;
  display: flex;
  height: 46px;
  gap: 18px;
  transform: rotateX(9deg);
}
