.ui-panel {
  padding: 8px;
  border: 3px solid #aaa;
  background:
    linear-gradient(
      135deg,
      #333 50%,
      #444 0
    );
  box-shadow: 1px 2px 8px #0009;
  pointer-events: all;
}

.ui-panel__inner {
  display: flex;
  align-items: center;
  padding: 8px;
  background: #777;
  box-shadow: 0 1px 0 2px #222;
  gap: 8px;
}

.ui-panel--big {
  position: absolute;
  bottom: 6vh;
  width: 600px;
  height: 32px;
  transform: rotateX(9deg);
}
