.ui {
  position: absolute;
  top: 0;
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 5vmin;
  perspective: 300px;
  pointer-events: none;
}

.ui * {
  transform-style: preserve-3d;
}

.ui__hex {
  position: relative;
  height: 100%;
  max-height: 55vw;
  aspect-ratio: 8 / 5;
}

.ui__hex .side {
  position: absolute;
  display: flex;
  width: 52.5%;
  box-sizing: border-box;
}

/* Center hexagon */
.ui__hex .front {
  width: 100%;
  height: 100%;
  background:
    linear-gradient(
      -90deg,
      #0003,
      #0000 32px
    ),
    linear-gradient(
      calc(-180deg + 17.4deg),
      #0003 16%,
      #0000 calc(16% + 32px)
    );
  clip-path:
    polygon(
      50% 0,
      100% 25%,
      100% 75%,
      50% 100%,
      0 75%,
      0 25%
    );
}

.ui__hex .top,
.ui__hex .bottom {
  height: 50%;
}

.ui__hex .top--right,
.ui__hex .bottom--right {
  left: 50%;
}

.ui__hex .top--left,
.ui__hex .bottom--left {
  left: -2.5%;
}

.ui__hex .top {
  top: -50%;
  align-items: flex-end;
  justify-content: center;
}

.ui__hex .top--right {
  border-bottom: 16px solid hsl(0, 0%, 25%);
  transform: rotateZ(17.4deg) rotateX(-90deg);
  transform-origin: bottom left;
}

.ui__hex .top--left {
  border-bottom: 16px solid hsl(0, 0%, 30%);
  transform: rotateZ(-17.4deg) rotateX(-90deg);
  transform-origin: bottom right;
}

.ui__hex .right,
.ui__hex .left {
  top: 25%;
  height: 50%;
  border-right: 16px solid hsl(0, 0%, 35%);
  border-left: 16px solid hsl(0, 0%, 35%);
}

.ui__hex .right {
  left: 100%;
  align-items: start;
  transform: rotateY(-90deg);
  transform-origin: left;
}

.ui__hex .left {
  left: -52.5%;
  transform: rotateY(90deg);
  transform-origin: right;
}

.ui__hex .bottom {
  top: 100%;
}

.ui__hex .bottom--right {
  border-top: 16px solid hsl(0, 0%, 40%);
  transform: rotateZ(-17.4deg) rotateX(90deg);
  transform-origin: top left;
}

.ui__hex .bottom--left {
  border-top: 16px solid hsl(0, 0%, 45%);
  transform: rotateZ(17.4deg) rotateX(90deg);
  transform-origin: top right;
}

.ui__hex .side::before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 8px solid hsl(0, 0%, 70%);
  border-right: 16px solid hsl(0, 0%, 75%);
  border-bottom: 8px solid hsl(0, 0%, 80%);
  border-left: 16px solid hsl(0, 0%, 75%);
  content: '';
}

.ui__hex .right::before,
.ui__hex .left::before {
  border-right: 8px solid hsl(0, 0%, 75%);
  border-left: 8px solid hsl(0, 0%, 75%);
}

.ui__hex .top .ui-panel {
  transform: rotateX(85deg) translateY(calc(3vmin + 16px));
}

.ui__hex .right .ui-panel {
  padding: 8px 6px;
  transform: rotateY(85deg) translateX(-40px);
}

.ui__hex .right .ui-panel__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  transform: rotateY(5deg) translateX(-2px) translateZ(2px);
}

.ui-panel__btns button {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  border-top: 0 solid #5317;
  border-right: 2px solid #5315;
  border-bottom: 3px solid #5317;
  border-left: 0 solid #5315;
  box-shadow: 0 0 0 1px #3339;
  font-weight: bold;
  text-shadow: 0 0 1px #000;
  transition: all 0.2s;
}

.ui-panel__btns button:active {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 2px;
  border-left-width: 1px;
}

.ui-panel__btns button[aria-pressed='true'] {
  background: #fffa;
}

button.del {
  width: 26px;
  height: 26px;
  margin: 3px;
  background: #e00;
  color: #fff;
  font-size: 12px;
}

.del-wrap {
  background:
    repeating-linear-gradient(
      -45deg,
      #000,
      #ff0 2px 4px,
      #000 0 6px
    );
  box-shadow: 0 0 0 #f33, 0 0 0 1px #333;
}

.del:hover::before {
  box-shadow: 0 0 6px #f33, 0 0 0 1px #333;
}

button.off {
  background: #ff0;
  color: #000;
  font-size: 20px;
}

button.off[aria-pressed='true']::after {
  position: absolute;
  right: 2px;
  bottom: 0;
  color: #e00;
  content: '×';
  font-size: 16px;
}
