.ui {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  perspective: 250px;
  pointer-events: none;
  padding: 5vmin;
  box-sizing: border-box;
}

.ui > * {
  transform-style: preserve-3d;
}

.ui__hex {
  position: relative;
  height: 100%;
  max-height: 55vw;
  aspect-ratio: 8 / 5;
  outline: 1px solid red;
}

.ui__hex > * {
  position: absolute;
  box-sizing: border-box;
}

/* Center hexagon */
.ui__hex *:nth-child(1) {
  width: 100%;
  height: 100%;
  background: #f002;
  clip-path:
    polygon(
      50% 0,
      100% 25%,
      100% 75%,
      50% 100%,
      0 75%,
      0 25%
    );
}

.ui__hex *:nth-child(n+2) {
}

.ui__hex *:nth-child(2) {
  top: -50%;
  left: 50%;
  width: calc(50% * 1.05);
  height: 50%;
  border-right: 48px solid hsl(0, 0%, 50%);
  border-bottom: 12px solid hsl(0, 0%, 45%);
  border-left: 42px solid hsl(0, 0%, 40%);
  transform: rotateZ(17.4deg) rotateX(-90deg);
  transform-origin: bottom left;
}

.ui__hex *:nth-child(3) {
  top: 25%;
  left: 100%;
  width: 100%;
  height: 50%;
  padding-top: 32px;
  border-top: 32px solid hsl(0, 0%, 55%);
  border-bottom: 32px solid hsl(0, 0%, 65%);
  border-left: 8px solid hsl(0, 0%, 60%);
  text-orientation: upright;
  transform: rotateY(-90deg);
  transform-origin: left;
  writing-mode: vertical-lr;
}

.ui__hex *:nth-child(4) {
  top: 100%;
  left: 50%;
  width: calc(50% * 1.05);
  height: 50%;
  transform-origin: top left;
  //background: #00f3;
  transform: rotateZ(-17.4deg) rotateX(90deg);
}
