.viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  perspective: 500px;

  /* Prevent scrolling by touch in the viewport */
  touch-action: none;
}

.viewport * {
  transform-style: preserve-3d;
  box-sizing: border-box;
  /* backface-visibility: hidden;
  -webkit-backface-visibility: hidden; */
}
