.viewport {
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  /* Prevent scrolling by touch in the viewport */
  touch-action: none;
}

.viewport * {
  box-sizing: border-box;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
