.hexagon {
  --radius: 100px;
  --width: calc(1.155 * var(--radius));
  --height: 140px;
}

.hexagon > * {
  width: var(--width);
  height: var(--height);
  transform-origin: bottom center;
}

.hexagon > .top {
  width: calc(2 * var(--width));
  height: calc(2 * var(--radius));
  background: rgba(100, 100, 100, 0.5);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transform:
    translateX(calc(-1 * var(--width)))
    translateY(calc(-1 * var(--radius)))
    translateZ(var(--height));
}

.hexagon > .front {
  background: rgba(255, 0, 0, 0.5);
  transform:
    translateX(calc(-0.5 * var(--width)))
    translateY(calc(var(--radius) - var(--height)))
    rotateX(-90deg);
}

.hexagon > .front-right {
  background: rgba(255, 255, 0, 0.5);
  transform:
    rotateX(-90deg)
    translateX(calc(0.866 * var(--radius) - 0.5 * var(--width)))
    translateZ(calc(0.5 * var(--radius) - var(--height)))
    rotateY(60deg);
}

.hexagon > .back-right {
  background: rgba(0, 255, 0, 0.5);
  transform:
    rotateX(-90deg)
    translateX(calc(0.866 * var(--radius) - 0.5 * var(--width)))
    translateZ(calc(-0.5 * var(--radius) - var(--height)))
    rotateY(120deg);
}

.hexagon > .back {
  background: rgba(0, 255, 255, 0.5);
  transform:
    rotateX(-90deg)
    translateX(calc(-0.5 * var(--width)))
    translateZ(calc(-1 * var(--radius) - var(--height)))
    rotateY(180deg);
}

.hexagon > .back-left {
  background: rgba(0, 0, 255, 0.5);
  transform:
    rotateX(-90deg)
    translateX(calc(-0.866 * var(--radius) - 0.5 * var(--width)))
    translateZ(calc(-0.5 * var(--radius) - var(--height)))
    rotateY(240deg);
}

.hexagon > .front-left {
  background: rgba(255, 0, 255, 0.5);
  transform:
    rotateX(-90deg)
    translateX(calc(-0.866 * var(--radius) - 0.5 * var(--width)))
    translateZ(calc(0.5 * var(--radius) - var(--height)))
    rotateY(300deg);
}
