.tri {
  --w: 100;
  --h: 140;
  --width: calc(var(--w) * 1px);
  --height: calc(var(--h) * 1px);
  --a: calc(var(--h) / (var(--w) / 2));
  --tan-a: calc(var(--a) + ((1 / 3) * (var(--a) * var(--a) * var(--a))) + ((2 / 15) * (var(--a) * var(--a) * var(--a) * var(--a) * var(--a))) + ((17 / 315) * (var(--a) * var(--a) * var(--a) * var(--a) * var(--a) * var(--a) * var(--a))));
  --angle: calc((-1 / var(--tan-a)));

  top: -250px;
  left: -200px;
  width: var(--width);
  height: var(--width);
  background: rgba(200, 200, 200, 0.5);
}

.tri > * {
  transform-origin: bottom center;
}

.tri > .front {
  width: var(--width);
  height: var(--height);
  background: rgba(255, 0, 0, 0.5);
  transform:
    translate(0, calc(var(--width) - var(--height)))
    rotateX(calc(var(--angle) * 1rad));
}

.tri > .right {
  width: var(--width);
  height: var(--height);
  background: rgba(255, 255, 0, 0.5);
  transform:
    translate(calc(var(--width) / 2), calc(var(--width) / 2 - var(--height)))
    rotateZ(-90deg)
    rotateX(calc(var(--angle) * 1rad));
}

.tri > .back {
  width: var(--width);
  height: var(--height);
  background: rgba(0, 255, 0, 0.5);
  transform:
    translate(0, calc(var(--height) * -1))
    rotateZ(180deg)
    rotateX(calc(var(--angle) * 1rad));
}

.tri > .left {
  width: var(--width);
  height: var(--height);
  background: rgba(0, 255, 255, 0.5);
  transform:
    translate(calc(var(--width) / -2), calc(var(--width) / 2 - var(--height)))
    rotateZ(90deg)
    rotateX(calc(var(--angle) * 1rad));
}
