.tri {
  --w: 100;
  --h: 140;
  --width: calc(var(--w) * 1px);
  --height: calc(var(--h) * 1px);
  --a: calc((var(--w) / 2) / var(--h));

  /* https://people.math.sc.edu/girardi/m142/handouts/10sTaylorPolySeries.pdf */
  --atan-a:
    calc(
      (var(--a) - ((var(--a) * var(--a) * var(--a)) / 3) + ((var(--a) * var(--a) * var(--a) * var(--a) * var(--a)) / 5) - ((var(--a) * var(--a) * var(--a) * var(--a) * var(--a) * var(--a) * var(--a)) / 7) + ((var(--a) * var(--a) * var(--a) * var(--a) * var(--a) * var(--a) * var(--a) * var(--a) * var(--a)) / 9))
    );
  --angle: calc(var(--atan-a) - 1.57079632);

  top: -250px;
  left: -200px;

  /* Just to check atan-a is -0.3430239404207034 like it should be: */
  right: calc(var(--atan-a) * 1px);

  width: var(--width);
  height: var(--width);
  background: rgba(200, 200, 200, 0.5);
}

.tri > * {
  transform-origin: bottom center;
}

.tri > .front {
  width: var(--width);
  height: var(--height);
  background: rgba(255, 0, 0, 0.5);
  transform:
    translate(0, calc(var(--width) - var(--height)))
    rotateX(calc(var(--angle) * 1rad));
}

.tri > .right {
  width: var(--width);
  height: var(--height);
  background: rgba(255, 255, 0, 0.5);
  transform:
    translate(calc(var(--width) / 2), calc(var(--width) / 2 - var(--height)))
    rotateZ(-90deg)
    rotateX(calc(var(--angle) * 1rad));
}

.tri > .back {
  width: var(--width);
  height: var(--height);
  background: rgba(0, 255, 0, 0.5);
  transform:
    translate(0, calc(var(--height) * -1))
    rotateZ(180deg)
    rotateX(calc(var(--angle) * 1rad));
}

.tri > .left {
  width: var(--width);
  height: var(--height);
  background: rgba(0, 255, 255, 0.5);
  transform:
    translate(calc(var(--width) / -2), calc(var(--width) / 2 - var(--height)))
    rotateZ(90deg)
    rotateX(calc(var(--angle) * 1rad));
}
