.hab .face {
  backface-visibility: visible;
  filter: none !important;
}

.hab .face.rect {
  background: #013a; /* Window color */
}

.hab .face::before {
  background: var(--color-primary);
}

/* TODO: One of these has to be flipped - it'd be easier in the JS? */

/* TODO: Save a few bytes by not using CSS vars? */

/* Two big sides opposite each other */
.hab .rect:nth-child(4)::before {
  background:
    linear-gradient(
      #0000 16px,
      var(--color-accent) 0 23px,
      #0000 0
    ),
    linear-gradient(
      90deg,
      var(--color-primary) 10px,
      #0000 0 50px,
      var(--color-primary) 0
    ),
    linear-gradient(
      var(--color-primary) 23px,
      #0000 0 37px,
      var(--color-primary) 0
    );
}

.hab .rect:nth-child(8)::before {
  background:
    linear-gradient(
      0deg,
      #0000 16px,
      var(--color-accent) 0 23px,
      #0000 0
    ),
    linear-gradient(
      90deg,
      var(--color-primary) 10px,
      #0000 0 50px,
      var(--color-primary) 0
    ),
    linear-gradient(
      var(--color-primary) 23px,
      #0000 0 37px,
      var(--color-primary) 0
    );
}

.hab .light {
  width: 40px;
  height: 14px;
  box-shadow: 0 0 8px 4px #fff3;
  transition: all 0.5s;
}

.shape.hab.disabled .light {
  animation: 1s infinite alarm alternate;
}

@keyframes alarm {
  0% {
    background: #0000;
    box-shadow: 0 0 8px 4px #fff3;
  }

  50% {
    background: #f113;
    box-shadow: 0 0 8px 4px #f117;
  }
}
